{{!
Mustache template used to display the accessorial cost row of a billing payment record

@author    Qian Wang <qwang@wayfair.com>
@copyright 2016 Wayfair, LLC - All rights reserved
}}

<div  class="js-bp-accessorials-table-body">
    <tr class="table_row">
        <td class="table_data_cell">{{SvfCodeDesc}}</td>
        <td class="table_data_cell">{{RequestedQty}}</td>
        <td class="table_data_cell">{{RequestedPrice}}</td>
        <td class="table_data_cell">{{ApprovedQty}}</td>
        <td class="table_data_cell">{{ApprovedPrice}}</td>
        <td class="table_data_cell">{{SvfNote}}</td>
        <td class="table_data_cell">{{SvfApproved}}</td>
    </tr>
</div>