{{!
Mustache template for tde BillingAndPayment's page on tde Agent Extranet

@autdor    Qian Wang <qwang@wayfair.com>
@copyright 2016 Wayfair LLC - All rights reserved
}}
<div class="page_content">
    {{{tab_nav}}}
    <h2>{{{lnrs_billing_payment}}}</h2>
    <div class="wfe_form_inline">
        <form class="js-search-bp-form">
            <input class="wfe_input keywords" type="text" name="keyword" placeholder="{{{lnrs_keywords}}}"/>
            <div class="wfe_input_group">
                <label class="wfe_label">{{{lnrs_filter_by}}}</label>
                <select class="wfe_input js-bp-filter-by" name="filter_by">
                    <option value=""></option>
                    <option value="">{{{lnrs_unpaid}}}</option>
                    <option value="open">--{{{lnrs_open}}}</option>
                    <option value="complete">--{{{lnrs_complete}}}</option>
                    <option value="approved">--{{{lnrs_approved}}}</option>
                    <option value="invoiced">--{{{lnrs_invoiced}}}</option>
                    <option value="review">--{{{lnrs_review}}}</option>
                    <option value="paid">{{{lnrs_paid}}}</option>
                </select>
            </div>
            <div class="wfe_input_group">
                <label class="wfe_label">{{{lnrs_sort_by}}}</label>
                <select class="wfe_input js-bp-sort-by" name="sort_by">
                    <option value=""></option>
                    <option value="po_details">{{{lnrs_po_details}}}</option>
                    <option value="carrier_ref">{{{lnrs_reference_number}}}</option>
                    <option value="load_weight">{{{lnrs_total_weight}}}</option>
                    <option value="load_cost">{{{lnrs_transportation_cost}}}</option>
                    <option value="total_cost">{{{lnrs_total_cost}}}</option>
                    <option value="load_complete_date">{{{lnrs_complete_date}}}</option>
                </select>
            </div>
            <div class="wfe_input_group">
                <label class="wfe_label">{{{lnrs_from_date}}}</label>{{{from_date}}}
            </div>
            <div class="wfe_input_group">
                <label class="wfe_label">{{{lnrs_to_date}}}</label>{{{to_date}}}
            </div>
            <div class="wfe_input_group">
                <span class="notice_text"><b>*</b></span><label class="wfe_label">{{{lnrs_carrier}}}</label>
                <select class="wfe_input js-bp-overpack-carrier" name="ts_id">
                    {{#overpack_carrier_list}}
                        <option value="{{carrier_id}}">{{carrier_name}}</option>
                    {{/overpack_carrier_list}}
                </select>

            </div>
            <button class="wfe_btn_secondary" value="search">{{{lnrs_search}}}</button>
        </form>
    </div>
    {{#exportAs}}
        <div class="pagination">
            <div class="left">
                <div class="exportas">{{{export_as}}}
                    <a href="/overpack/download_report.php?from_date={{fromDate}}&to_date={{toDate}}&filter_by={{filterBy}}&sort_by={{sortBy}}&keyword={{keyword}}&ts_id={{carrier}}" target="_blank">
                        <span class="excel"></span></a></div>
            </div>
        </div>
    {{/exportAs}}
    <div align="center">
        {{#billingPaymentsLoading}}
            <img src="{{loading_icon}}">
        {{/billingPaymentsLoading}}
    </div>
    <div class="route_results_section padding_top_medium">
        <table class="wfe_table">
            <thead>
            <tr class="js-table-header-row">
                <th class="table_header"></th>
                <th class="table_header">PO</th>
                <th class="table_header">Carton Count</th>
                <th class="table_header">Qty</th>
                <th class="table_header">Weight</th>
                <th class="table_header">Miles</th>
                <th class="table_header">Transportation Cost</th>
                <th class="table_header">Overpack Cost</th>
                <th class="table_header">Accessorial Cost</th>
                <th class="table_header">Pickup Date</th>
                <th class="table_header">Complete Date</th>
                <th class="table_header">Load Type</th>
                <th class="table_header">Status</th>
                <th class="table_header">Total Cost</th>
                <th class="table_header">Actions</th>
                <th class="table_header">
                    <input id="checkAll" type="checkbox" class="js-check-all-checkboxes" style="Display:block"/>
                </th>
            </tr>
            </thead>
            {{#billingPayments}}
                {{> extranet/overpack/billing_payment/_billing_payment_row}}
            {{/billingPayments}}
        </table>
    </div>
    {{#approveInvoiceButtonFlag}}
        <div class="fr">
            <div class="btn_wayfair_primary_m">
                <input type="submit" name="approve_invoice_button" class="js-disable-control-and-submit-form overpack_primary_action"
                       value="{{approve_invoice}}"/>
                <input type="hidden" name="approve_invoice" value="{{approve_invoice}}" />
            </div>
        </div>
        <div align="center">
            {{#appoveInvoiceLoading}}
                <img src="{{loading_icon}}">
            {{/appoveInvoiceLoading}}
        </div>
    {{/approveInvoiceButtonFlag}}
</div>